<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="menuAberto" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="menuAberto ? 'menu-unfold' : 'menu-fold'"
        (click)="menuAberto = !menuAberto"
      ></span>
    </nz-header>
    <nz-content>
        <app-breadcrumb></app-breadcrumb>   
      <router-outlet></router-outlet>     
    </nz-content>
    <nz-footer>Copyright ©{{ anoAtual }} Todos os direitos reservados para RGR SISTEMAS</nz-footer>
</nz-layout>
</nz-layout>