<nz-layout class="main-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="menuAberto" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let menu of menus">
        <!-- Verifica se há submenus -->
        <li *ngIf="menu.submenu.length > 0" nz-submenu [nzTitle]="menu.breadcrumb" [nzIcon]="menu.icon || 'menu'">
          <ul>
            <li *ngFor="let sub of menu.submenu" nz-menu-item [routerLink]="sub.path">
              <span nz-icon [nzType]="sub.icon || 'file'"></span> <!-- Ícone dinâmico -->
              <span>{{ sub.breadcrumb }}</span>
            </li>
          </ul>
        </li>
        <!-- Caso contrário, exibe o item normal -->
        <li *ngIf="menu.submenu.length === 0" nz-menu-item [routerLink]="menu.path">
          <span nz-icon [nzType]="menu.icon || 'file'"></span> <!-- Ícone dinâmico -->
          <span>{{ menu.breadcrumb }}</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>

  <nz-layout class="content-layout">
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="menuAberto ? 'menu-unfold' : 'menu-fold'"
        (click)="menuAberto = !menuAberto"
      ></span>
    </nz-header>
    <nz-content>
      <div class="content-scroll-area">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Copyright ©{{ anoAtual }} Todos os direitos reservados para RGR SISTEMAS</nz-footer>
  </nz-layout>
</nz-layout>
