<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="email">Email</label>
      <input pInputText id="email" #emailInput formControlName="email" />
      @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required'))
      {
      <small>Digite seu email.</small>
      }
    </div>
    <div class="field">
      <label for="senha">Senha</label>
      <input  pInputText id="senha" type="password" formControlName="senha" />
      @if(loginForm.get('senha')?.touched &&
      (loginForm.get('senha')?.hasError('required') || loginForm.get('senha')?.hasError('passwordValidator')))
      {
      <small>{{getSenhaErrorMessage()}}</small>
      }
    </div>

    <button type="submit" pButton label="Login" class="login-button"></button>
  </form>
</div>
