.app-container {
    display: flex; /* ou 'grid' */
    flex-direction: column; /* se estiver usando 'flex' */
}

.content {
    flex-grow: 1; /* se estiver usando 'flex' */
}
.app-menu, .content {
    position: relative;
}
.app-menu {
    z-index: 1;
}

.content {
    z-index: 2;
}
