<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div nz-row [nzGutter]="[16, 16]">
    <ng-container *ngFor="let field of formFields">
      <ng-container *ngIf="field.visible">
        <div nz-col [nzSpan]="field.nzSpan">
          <nz-form-item>
            <nz-form-label [nzFor]="field.key">
              {{ field.label }}
              <span *ngIf="field.required" class="required-asterisk">*</span>
            </nz-form-label>
            <nz-form-control>
              <ng-container
                *ngIf="field.type !== 'enum' && field.type !== 'entidade'"
              >
                <input
                  nz-input
                  [id]="field.key"
                  [formControlName]="field.key"
                  [type]="field.type"
                />
              </ng-container>
              <ng-container *ngIf="field.type === 'enum'">
                <nz-select
                  [id]="field.key"
                  [formControlName]="field.key"
                  nzPlaceHolder="Selecione"
                >
                  <nz-option
                    *ngFor="let option of field.options"
                    [nzValue]="option.value"
                    [nzLabel]="option.label"
                  >
                  </nz-option>
                </nz-select>
              </ng-container>
              <ng-container *ngIf="field.type === 'entidade'">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <input type="text" nz-input placeholder="input search text" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzType="primary" nzSearch>
                    <span nz-icon nzType="search"></span>
                  </button>
                </ng-template>
              </ng-container>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Botões de Ação -->
  <div class="button-group">
    <button nz-button nzType="primary" *ngIf="isEditMode">Salvar</button>
    <button nz-button nzType="primary" *ngIf="!isEditMode">Adicionar</button>
    <!-- Prevent Default para evitar a submissão -->
    <button
      nz-button
      nzType="default"
      (click)="voltar(); $event.preventDefault()"
    >
      Voltar
    </button>
  </div>
</form>
