<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div nz-row [nzGutter]="[16, 16]">
    @for(field of formFields; track $index){
    <ng-container>
      @if(field.visible){
      <div nz-col [nzSpan]="field.nzSpan">
        <nz-form-item>
          <nz-form-label [nzFor]="field.key">
            {{ field.label }}
            @if(field.required){
            <span class="required-asterisk">*</span>
            }
          </nz-form-label>
          <nz-form-control>
            @if(field.type !== 'select'){
            <input nz-input [formControlName]="field.key" [type]="field.type" />
          }
          @if(field.type === 'select'){
            <nz-select [formControlName]="field.key" nzPlaceHolder="Selecione">
              @for (option of field.options; track $index) {
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              }
            </nz-select>
          }
          </nz-form-control>
        </nz-form-item>
      </div>
      }
    </ng-container>
    }
  </div>
  <button nz-button nzType="primary">Submit</button>
</form>
