.ant-form-horizontal .ant-form-item-control {
    flex:auto; 
}
.required-asterisk {
    color: #ff4d4f;
    margin-left: 2px;
  }
  
  .button-group {
    display: flex;
    gap: 8px;
    margin-top: 16px; 
  }
  