<div>
  @if(valorConfiguracao.adicionar){
  <button nz-button (click)="adicionar()" nzType="primary">Add</button>
  } @if(valorConfiguracao.mostrarOpcoes){
  <form nz-form nzLayout="inline" [formGroup]="formularioConfiguracao">
    @for (switch of listOfSwitch; track switch.nome) {
    <nz-form-item>
      <nz-form-label>{{ switch.nome }}</nz-form-label>
      <nz-form-control><nz-switch [formControlName]="switch.formControlName"></nz-switch></nz-form-control>
    </nz-form-item>
    } @for (radio of listOfRadio; track radio.nome) {
    <nz-form-item>
      <nz-form-label>{{ radio.nome }}</nz-form-label>
      <nz-form-control>
        <nz-radio-group [formControlName]="radio.formControlName">
          @for (o of radio.listOfOption; track o.valor) {
          <label nz-radio-button [nzValue]="o.valor">{{ o.rotulo }}</label>
          }
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    }
  </form>
  }
</div>
<nz-table #tabelaDinamica [nzScroll]="{ x: rolagemX, y: rolagemY }" [nzData]="listaDados"
  [nzTableLayout]="valorConfiguracao.layoutTabela" [nzBordered]="valorConfiguracao.comBorda"
  [nzSimple]="valorConfiguracao.simples" [nzLoading]="valorConfiguracao.carregando"
  [nzPaginationType]="valorConfiguracao.tipoPaginacao" [nzPaginationPosition]="valorConfiguracao.posicao"
  [nzShowSizeChanger]="valorConfiguracao.alteradorTamanho" [nzFrontPagination]="valorConfiguracao.paginacao"
  [nzShowPagination]="valorConfiguracao.paginacao" [nzFooter]="valorConfiguracao.rodape ? 'Aqui é o Rodapé' : null"
  [nzTitle]="valorConfiguracao.titulo ? 'Aqui é o Título' : null" [nzSize]="valorConfiguracao.tamanho"
  (nzCurrentPageDataChange)="mudancaDadosPaginaAtual($event)">
  <thead>
    @if(valorConfiguracao.cabecalho){
    <tr>
      @if(valorConfiguracao.expansivel){
      <th nzWidth="40px" [nzLeft]="colunaFixa"></th>
      } @if(valorConfiguracao.caixaSelecao){
      <th nzWidth="60px" [(nzChecked)]="todosMarcados" [nzLeft]="colunaFixa" [nzIndeterminate]="indeterminado"
        (nzCheckedChange)="marcarTodos($event)"></th>
      } @for (key of obterChavesColunas(dadosExibidos[0]); track $index) {
      @if (key.visible) {
      <th [nzLeft]="colunaFixa">{{ key.label }}</th>
      }@else{
      <th [nzLeft]="colunaFixa" style="display: none">{{ key.label }}</th>
      } }
    </tr>
    }
  </thead>
  <tbody>
    @for (data of tabelaDinamica.data; track $index) {
    <ng-container>
      <tr>
        @if(valorConfiguracao.expansivel){
        <td [nzLeft]="colunaFixa" [(nzExpand)]="data.expandido"></td>
        } @if(valorConfiguracao.caixaSelecao){
        <td [nzLeft]="colunaFixa" [(nzChecked)]="data.marcado" (nzCheckedChange)="atualizarStatus()"></td>
        } @for (key of obterChaves(data); track $index) { @if (key.visible) {
        <td [nzLeft]="colunaFixa">{{ data[key.label] }}</td>
        }@else {
        <td [nzLeft]="colunaFixa" style="display: none"> {{ data[key.label] }} </td>
        } }
      </tr>
      @if (valorConfiguracao.expansivel) {
      <tr [nzExpand]="data.expandido">
        <span>{{ data.descricao }}</span>
      </tr>
      }
      @if (valorConfiguracao.action) {
      <tr>
        @for (acao of acoes; track $index) {
        <a (click)=acao.acao>acao.label</a>
        }
      </tr>
      }
    </ng-container>
    }
  </tbody>
</nz-table>