<div>
  <!-- Botão para adicionar novo item -->
  <button *ngIf="valorConfiguracao.adicionar" nz-button (click)="adicionar()" nzType="primary">Add</button>

  <!-- Formulário para configurações adicionais da grid -->
  <form *ngIf="valorConfiguracao.mostrarOpcoes" nz-form nzLayout="inline" [formGroup]="formularioConfiguracao">
    <ng-container *ngFor="let switch of listOfSwitch">
      <nz-form-item>
        <nz-form-label>{{ switch.nome }}</nz-form-label>
        <nz-form-control>
          <nz-switch [formControlName]="switch.formControlName"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *ngFor="let radio of listOfRadio">
      <nz-form-item>
        <nz-form-label>{{ radio.nome }}</nz-form-label>
        <nz-form-control>
          <nz-radio-group [formControlName]="radio.formControlName">
            <label *ngFor="let o of radio.listOfOption" nz-radio-button [nzValue]="o.valor">
              {{ o.rotulo }}
            </label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </form>
</div>

<nz-table
  [nzScroll]="{ x: rolagemX, y: rolagemY }"
  [nzData]="listaDados"
  [nzTableLayout]="valorConfiguracao.layoutTabela"
  [nzBordered]="valorConfiguracao.comBorda"
  [nzSimple]="valorConfiguracao.simples"
  [nzLoading]="valorConfiguracao.carregando"
  [nzPaginationType]="valorConfiguracao.tipoPaginacao"
  [nzPaginationPosition]="valorConfiguracao.posicao"
  [nzShowSizeChanger]="valorConfiguracao.alteradorTamanho"
  [nzFrontPagination]="valorConfiguracao.paginacao"
  [nzShowPagination]="valorConfiguracao.paginacao"
  [nzFooter]="valorConfiguracao.rodape ? 'Aqui é o Rodapé' : null"
  [nzTitle]="valorConfiguracao.titulo ? 'Aqui é o Título' : null"
  [nzSize]="valorConfiguracao.tamanho"
  (nzCurrentPageDataChange)="mudancaDadosPaginaAtual($event)"
>
  <!-- Cabeçalho da tabela -->
  <thead *ngIf="valorConfiguracao.cabecalho">
    <tr>
      <ng-container *ngFor="let col of gridColumns">
        <th *ngIf="col.visible">{{ col.label }}</th>
      </ng-container>
      <!-- Adiciona título à coluna de ações -->
      <th *ngIf="acoes && acoes.length > 0">
        Opções
      </th>
    </tr>
  </thead>

  <!-- Corpo da tabela -->
  <tbody>
    <tr *ngFor="let data of listaDados">
      <ng-container *ngFor="let col of gridColumns">
        <td *ngIf="col.visible">{{ data[col.key] }}</td>
      </ng-container>
      <!-- Ações para cada linha -->
      <td *ngIf="acoes">
        <ng-container *ngFor="let acao of acoes">
          <button nz-button nzType="primary" (click)="acao.acao(data)">
            {{ acao.label }}
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
