.login-form {
  width: 90%; 
  max-width: 450px; 
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 350px; 
  }
}

@media (max-width: 576px) {
  .login-form {
    max-width: 300px; 
  }
}

@media (max-width: 400px) {
  .login-form {
    max-width: 100%; 
    box-sizing: border-box;
    padding: 0 20px; 
  }
}
